<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Jsp01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 에러페이지 설정 (보안)-->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>

  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error/errorNull.jsp</location>
  </error-page>
  
  <jsp-config>
  	<jsp-property-group>
  	  <url-pattern>/view/*</url-pattern><!-- url 패턴주소값(매핑주소; 웹 브라우저 주소창에서 실행됌/ 스프링MVC에서 사용하는 매핑주소) -->	 
  	  <include-prelude>/include/header.jsp</include-prelude>
  	  <!-- jsp파일의 맨 상단에 삽입할 파일 지정 (url-pattern에 지정한 매핑주소가 실행될때 )-->
  	  <include-coda>/include/footer.jsp</include-coda>
  	  <!-- jsp파일의 맨 하단에 삽입할 파일 지정 -->
  	</jsp-property-group>
  </jsp-config>
  
</web-app>